<template>
  <div>
    <div>
      <b-card title="Sign in">
        <div>
          <b-form>
            <b-form-group
              id="input-group-1"
              label="Email address:"
              label-for="email"
            >
              <b-form-input
                id="email"
                v-model="form.email"
                type="text"
                required
                placeholder="Enter email"
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Password:" label-for="pass">
              <b-form-input
                id="pass"
                v-model="form.pass"
                type="password"
                required
                placeholder="Enter Password"
              ></b-form-input>
            </b-form-group>

            <b-button id="show-btn" variant="success" @click="showModal(form)"
              >Login</b-button
            >
            <b-modal ref="my-modal" hide-footer title="Result">
              <div class="d-block text-center">
                <h3>Login Success!</h3>
              </div>
              <router-link to="/krapook"
                ><b-button class="mt-2" variant="outline-primary" block
                  >OK</b-button
                ></router-link
              >
            </b-modal>
          </b-form>
        </div></b-card
      >
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      users: [
        {
          id: 1,
          email: 'max',
          pass: 'max'
        },
        {
          id: 2,
          email: 'min',
          pass: 'min'
        }
      ],
      form: {
        id: -1,
        email: '',
        pass: ''
      }
    }
  },
  methods: {
    resetText () {
      // Reset our form values
      this.form.email = ''
      this.form.pass = ''
      // Trick to reset/clear native browser form validation state
    },
    showModal (input) {
      try {
        const index = this.users.findIndex(item => item.email === input.email)
        console.log(index)
        if (
          this.users[index].email === this.form.email &&
          this.users[index].pass === this.form.pass
        ) {
          console.log('welcome2')
          this.$refs['my-modal'].show()
        } else {
          alert(JSON.stringify('รหัสผิดพลาด'))
          this.resetText()
        }
      } catch (error) {
        alert(JSON.stringify('ไม่พบ Email นี้'))
        console.log(error)
        this.resetText()
      }
    }
  }
}
</script>
