<template>
  <div>
    <Header></Header>
    <b-container class="bv-example-row">
      <b-row class="text-center">
        <b-col></b-col>
        <b-col cols="8">
          <router-view></router-view>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import Header from './Header'
export default {
  components: {
    Header
  }
}
</script>
